
/* general style */

*{
  margin:0;
}

/* .contenitore{
  background-color: orange;
  position: relative;
  width: 1500px;
  margin: auto;
} */

.header_top{
  background-color: lightblue;
  position: relative;
  width: 100%;
  height: 50px;
}

.header_top .col_lingua_contact ul {
  margin-top: 5px;
}

.header_top .col_lingua_contact ul li a{
  text-decoration: none;
  color: black;
}

/* regola per tutti i bottoni input */
.bottoni{
  color: orange;
  border-radius: 5px;
  border: solid 2px orange;
}

.bottone_arancione{
  background-color: orange;
  color: white;
}

.hr1{
  border: solid black 1px;
}

/* header style */

/* header_top style */
.header_top{
  content: "";
  display: table;
  clear: both;
}

/* style colonna di sx di header_top */
.col_lingua_contact{
  width: 50%;
  float: left;
}

/* style colonna dx di header_top */
.col_dx{
  width: 50%;
  float: left;

}

.col_dx .col_dx_bottoni{
  position: absolute;
  right: 20%;
  top:20%;
}

.col_dx .col_dx_bottoni input{
  padding: 8px;
}

.header_top .col_lingua_contact ul li{
  display: inline-block;
  padding: 10px;
}


/* navigation style */
nav{
  background-color: white;
}

nav .contenitore_nav{
  width: 1500px;
  margin: 0 auto;
}

nav .contenitore_nav{
  content: "";
  display: table;
  clear: both;
}

/* colonna sx con il logo */
nav .contenitore_nav .col_logo{
  float: left;
  width: 50%;
}

/* colonna dx con lista navigazione */
nav .contenitore_nav .col_nav{
  float: left;
  width: 50%;
}

nav .contenitore_nav .col_nav ul li{
  display: inline-block;
  padding:10px;
  margin-top: 10px;
}

nav .contenitore_nav .col_nav ul li a{
  text-decoration: none;
  color: black;
}

nav .contenitore_nav .col_logo img{
  width: 200px;
  margin-top: 5px;
}


/* main style */

/* sezione 'better way' */
main .better_way{
  background-image: url(img/jumbotron.png);
  background-size: cover;
  height: 810px;
  position: relative;
}

main .better_way .contenitore_better_way{
  /* background-color: red; */
  width: 500px;
  margin: 0 210px;
  position: absolute;
  top: 200px;
}

.better_way .contenitore_better_way h1{
  padding: 50px 0;
}

.better_way .contenitore_better_way input{
  padding: 20px;
  margin: 30px;
  margin-left: 25px;
}

/* linea suddivisorio: divide la sezione precedente con quella di 'powerful_alone') */
.linea_divisorio{
  background-color: lightblue;
  width: 100%;
  height: 50px;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
}


/* sezione 'powerful_alone' */
main .powerful_alone{
  background-color: #cbe5f7;

}

main .powerful_alone .contenitore_powerful_alone{
  width: 800px;
  margin: auto;
  text-align: center;
}

main .powerful_alone .contenitore_powerful_alone p{
  padding: 20px;
  line-height: 25px;
}

.powerful_alone .contenitore_powerful_alone img{
  width: 250px;
  margin-top: 40px;
}

/* sezione servizi */
main .contenitore_servizi .box_riga::after{
  content: "";
  display: table;
  clear: both;
}

main .servizi{
  background-color: #cbe5f7;
  padding: 60px;
}

main .servizi .contenitore_servizi{
    width: 1500px;
    margin: auto;
    background-color: #cbe5f7;
}

main .contenitore_servizi .box_riga{
  width: 100%;
  border: solid 3px lightgrey;
  padding: 30px;
  background-color: white;
}

.contenitore_servizi .box_riga .col_dx_riga ul li span{
  background-color: orange;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px;
  margin-right: 15px;
}

/* colonna sx del Box riga */
main .contenitore_servizi .box_riga .col_sx_riga{
  float:left;
  width: 20%;
}

.contenitore_servizi .box_riga .col_sx_riga{
  margin-left: 90px;
  text-align: center;
}

.contenitore_servizi .box_riga .col_sx_img{
  width: 170px;
  padding: 30px;
  margin-left: 40px;
}

.contenitore_servizi .box_riga .col_sx_riga .col_sx_bottone input{
  padding: 20px;
  width: 180px;
  margin-top: 0px;
}


/* colonna dx del Box riga */

main .contenitore_servizi .box_riga .col_dx_riga{
  float: left;
  width: 70%;
  margin-top: 60px;
  margin-left: 3%;
}

.contenitore_servizi .box_riga .col_dx_riga h3{
  margin-bottom: 25px;
}

.contenitore_servizi .box_riga .col_dx_riga h4{
  margin-top: 20px;
  margin-bottom: 15px;
}

.contenitore_servizi .box_riga .col_dx_riga ul li{
  display: inline-block;
  padding: 10px;
}

.contenitore_servizi .box_riga .col_dx_riga ul{
  padding: 0;
}

/* box servizi */

.contenitore_servizi::after{
  content: "";
  display: table;
  clear: both;
}

.boxServizi{
  width: 25%;
  /* height: 480px; */
  background-color: white;
  border: solid 2px lightgrey;
  float: left;
  position: relative;
  top: 20px;
  text-align: center;
}

.boxServizi ul li span{
  background-color: orange;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 2px;
  margin-right: 15px;
}

.boxServizi p{
  margin: 20px;
}

.boxServizi h4{
  margin-top: 15px;
}

.boxServizi .img_boxServizi{
  width: 100px;
  margin-top: 30px;
}

.boxServizi ul{
  padding: 15px;
}

.boxServizi ul{
  list-style: none;
  text-align: left;
  line-height: 21px;
}

.boxServizi input{
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
  width: 180px;
}

/* .boxServizi .box_input{
  background-color: red;
  margin-bottom: 10px;;
  padding: 1px;
} */


/* box centro servizi */
.boxServizi_centro{
  margin-left: 12%;
  margin-right: 12.2%;
}

.boxServizi_centro .box_input{
  margin-top: 10px;
}

.boxServizi_centro .img_boxServizi{
  width: 130px;
}

/* box sx servizi */
.boxServizi_sx .box_input{
  margin-top: 10px;
}


/* sezione risultati */

.risultati{
  background-color: #36aeb3;
  padding: 40px;
}

.risultati .contenitore_risultati{
  width: 1500px;
  margin: auto;
  text-align: center;
  color: white;
}

.contenitore_risultati{
  content: "";
  display: table;
  clear: both;
}

.risultati .contenitore_risultati p{
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
}

/* tabella_risultati */
.colonna_tabella{
  float: left;
  width: 24.66%;
}

.col1, .col2, .col3{
  border-right: solid 1px;
}

.col_top{
  border-bottom: solid 1px;
}


/* non funziona, volevo unire i due selettori in uno!
inserendo l' operatore AND tra .col_top e .col_down*/
/* .colonna_tabella .col_top,.col_down img{
  margin-top: 20px;
  margin-bottom: 15px;
} */

.colonna_tabella .col_top img{
  margin-top: 20px;
  margin-bottom: 15px;
}

.colonna_tabella .col_down img{
  margin-top: 20px;
  margin-bottom: 15px;
}


/* sezione 'Partner' */
main .partner{
  background-color: white;
}

.partner .contenitore_partner::after{
  content: "";
  display: table;
  clear: both;
}

.partner .contenitore_partner{
  width: 1500px;
  margin: auto;
}

.partner .contenitore_partner .col_sx_partner{
  float: left;
  width: 30%;
  margin-left: 10%;
}

.col_sx_partner h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.partner .contenitore_partner .col_dx_partner{
  float: left;
  width: 50%;
}

.col_dx_partner ul{
  margin-top: 40px;
}

.partner .contenitore_partner .col_dx_partner .riga_partner li{
  display: inline-block;
}

.col_dx_partner .riga_partner ul li img{
  width: 150px;
  vertical-align: middle;
  padding: 10px;
}


/* sezione 'start Growing' */
main .startGrowing{
  background-color: white;
  padding: 40px;
}

.startGrowing .contenitore_startGrowing{
  width:1500px;
  margin: auto;
}

.startGrowing .contenitore_startGrowing::after{
  content: "";
  display: table;
  clear: both;
}

/* style generali colonna startGrowing*/
.contenitore_startGrowing .colonna_startGrowing{
  width: 45%;
  float: left;
}

/* colonna dx di start Growing */

/* perchè se appplico da riga 433 a 441, collassa tutto? */
/* .col_dx_startGrowing{
  position: relative;
} */

/* .col_dx_startGrowing img{
  width: 300px;
  position: absolute;
  right: 0;
} */

.col_dx_startGrowing img{
  width: 300px;
  position: relative;
  right: -370px;
}

/* style colonna sx startGrowing */
.col_sx_startGrowing h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.col_sx_startGrowing p{
  margin-bottom: 40px;
}

.col_sx_startGrowing input{
  padding: 20px;
  margin-bottom: 40px;
}




/* footer */
footer{
  background-color: #2f3e51;
  padding:40px;
}

.contenitore_footer{
  width: 1500px;
  margin: auto;
  padding:10px;
}

.contenitore_footer::after{
  content: "";
  display: table;
  clear: both;
}

/* footer up */
.colonna_footerUp{
  float: left;
  width: 25%;
  color: white;
  text-align: left;
}

.colonna_footerUp ul{
  padding: 0;
  margin-top: 20px;
}

.colonna_footerUp ul li{
  list-style: none;

}

.colonna_footerUp ul .lista_contatti ul li{
  display:inline-block;
}

/* lista link social */
.colonna_footerUp ul li a{
  text-decoration:none;
  color: white;
  padding: 10px;
  line-height: 35px;
}

.colonna_footerUp ul .contact_hubSpot a{
  padding: 10px;
  background-color: white;
  color: #2f3e51;
  border-radius: 5px;
}

.colonna_footerUp ul .contact_hubSpot{
  margin-top: 10px;
}


/* nav footer */
.lingue .contenitore_navFooter{
  width: 1500px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
}

.contenitore_navFooter ul li{
  display: inline-block;
}

.contenitore_navFooter ul li a{
  text-decoration: none;
  color: white;
  padding:8px;
}




/* footer down*/

.footer_down .contenitore_footerDown{
  width: 1500px;
  margin:auto;
  padding: 40px;
  position: relative;
  color: white;
}

.footer_down .contenitore_footerDown::after{
  content: "";
  display: table;
  clear: both;
}

.footer_down .contenitore_footerDown .colonna_footerDown{
  width: 50%;
  float: left;
}

/* colonna privacy */
.contenitore_footerDown .col_privacy ul li{
  display: inline-block;
}

.contenitore_footerDown .col_privacy ul li a{
  text-decoration:none;
  color: white;
  padding: 20px;
}

.contenitore_footerDown .col_privacy ul{
  position: absolute;
  right: 0;
}
