
/* general style */

*{
  margin:0;
}

body{
  background-color: green; // da togliere
}

/* .contenitore{
  background-color: orange;
  position: relative;
  width: 1500px;
  margin: auto;
} */

.header_top{
  background-color: orange;
  position: relative;
  width: 1500px;
  height: 50px;
}
/* regola per tutti i bottoni input */
.bottoni{
  color: red;
}


/* header style */

/* header_top style */
.header_top{
  content: "";
  display: table;
  clear: both;
}

/* style colonna di sx di header_top */
.col_lingua_contact{
  width: 50%;
  float: left;
}

/* style colonna dx di header_top */
.col_dx{
  width: 50%;
  float: left;

}

.col_dx .col_dx_bottoni{
  position: absolute;
  right: 20%;
  top:20%;
}

.col_dx .col_dx_bottoni input{
  padding: 8px;
}

.header_top .col_lingua_contact ul li{
  display: inline-block;
  padding: 10px;

}
